@import "./assets/css/reset.css";
@import "./assets/css/skeleton.css";

@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,600italic");

/**
* Base
*/

body {
  font: 12px/24px Helvetica, Arial, sans-serif;
  color: #ffffff;
  background: #ffffff;
  background: url("./assets/img//background5.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
